<% if post.source == 'YouTube' %>
    <div class="panel panel" style="border: 0; border-radius: 0; background-color: transparent">
        <iframe frameborder="0" allowfullscreen src="https://www.youtube.com/embed/<%= post.service_id %>" width=100% height=360 style="border-radius: none;" frameborder=0></iframe>
    </div>
<% else # ($post['source'] === 'Twitter' || $post['source'] === "Reddit") %>
    <div class="inner-trend panel panel-default">
        <div class="panel-header">
            <h3>
                <a href="<%= post.url %>" target="_blank">
                    <%= ((post.poster.nil? || post.poster.strip.empty?) ? "Untitled Post" : post.poster.strip) %>
                </a>
                <i class="thumb-up-down fa fa-thumbs-<%= (post.sentiment >= 0.5 ? 'up green' : 'down red') %>"></i>
            </h3>
            <small>From <%= post.source %></small>
        </div>
        <div class="panel-body home">
            <%= processLinks(post.content) %>
        </div>
    </div>
<% end %>
