<div class="row">
    <% @trends.each_with_index do |trend, i| %>
        <div class="col-xs-4 row-pad">
            <%= link_to({:controller => 'main', :action => 'view_trend', :id => trend.id}, class: 'index-tile') do %>
                <div class="inner-trend panel panel-default">
                    <div class="panel-header">
                        <h3 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            <span style="max-width: 250px; display:inline-block; text-overflow:ellipsis; overflow:hidden; white-space: nowrap;">
                                <%= trend.name %>
                            </span>
                        </h3>
                        <small <% concat "style='margin-top: 11px;'".html_safe unless trend.count == 0 %>>
                            <%= pluralize(trend.count, "opinions") %>
                            <% if trend.count != 0 %>
                                <br>
                                <span class="home-<%= (trend.average_sentiment >= 0.495 ? 'green' : 'red') %>">
                                    <%= (100 * trend.average_sentiment).round %>% positive
                                </span>
                            <% end %>
                        </small>
                    </div>
                    <div class="panel-body home" style="padding-bottom: 2px;">
                        <div style="overflow: hidden; height: 108px; margin-top: 3px;" class="inner-stuff">
                            <% trend.list_x(5).each do |pst| %>
                                <%= pst.content %><hr />
                            <% end %>
                            Click to read more...
                        </div>
                        <div style="padding-left: auto; padding-right: auto; text-align:center;">
                            <i style="color: black; font-size: 1.5em;" class="fa fa-caret-down"></i>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
        <% if i % 3 == 2 %>
            </div><div class="row">
        <% end %>
    <% end %>
</div>
<script type="text/javascript">
$(function() {
    // Scrolling
    $(".panel").mouseover(function() {
        console.log("mouseover!");
        var inner = $(this).find(".inner-stuff");
        inner.delay(300).animate({
            scrollTop: inner[0].scrollHeight - inner.height()
        }, 18*(inner[0].scrollHeight),"linear");
    });
    $(".panel").mouseout(function() {
        console.log("mouseout!");
        $(this).find(".inner-stuff").dequeue().stop();
    });
});
</script>
