<!-- <h1>Main#view_trend</h1>
<p>Find me in app/views/main/view_trend.html.erb</p> -->

<title>Opinionate - <%= @title %></title>

<%= link_to(:controller => 'main', :action => 'index') do %><div class="header-area">
    <h1 style="font-size: 50px;">Opinionate</h1>
    <h5>Spreading the voice of the people</h5>
</div><% end %>

<div class="header-area2">
    <h1><%= @title %></h1>
</div>

<div class="container" id="posts_all">
    <div class="row">
        <div class="col-xs-6">
            <% (0...@posts.length).step(2).each do |i| %>
                <%= render partial: 'render_box', locals: {post: @posts[i]}%>
            <% end %>
        </div>
        <div class="col-xs-6">
            <% (1...@posts.length).step(2).each do |i| %>
                <%= render partial: 'render_box', locals: {post: @posts[i]}%>
            <% end %>
        </div>
    </div>
</div>
<% unless params[:search].nil? %>
    <script>
        function refreshStuff() {
            console.log("Refreshed with "+window.location.href);
            $("#posts_all").load(window.location.href+" #posts_all");
        }
        setInterval(refreshStuff, 4000);
    </script>
<% end %>
