<title>Opinionate - <%= @title %></title>

<div class="container">
    <div class="header-area2">
        <h1><%= @title %></h1>
    </div>
</div>

<div class="container" id="posts_all">
    <input type="hidden" name="opinions" value="<%= @posts.length %>">
    <% if @posts.length == 0 %>
        <div class="row" style="text-align: center; margin-top: 50px; color: #ffffff">
            <h3>Loading...</h3>
        </div>
    <% elsif %>
        <div class="row">
            <div class="col-xs-6">
                <% (0...@posts.length).step(2).each do |i| %>
                    <%= render partial: 'render_box', locals: {post: @posts[i]} %>
                <% end %>
            </div>
            <div class="col-xs-6">
                <% (1...@posts.length).step(2).each do |i| %>
                    <%= render partial: 'render_box', locals: {post: @posts[i]} %>
                <% end %>
            </div>
        </div>
    <% end %>
</div>
<% if @search %>
    <script>
        function refreshStuff() {
            console.log("Refreshed with "+window.location.href);
            $("#posts_all").load(window.location.href+" #posts_all");
        }
        setInterval(refreshStuff, 1000);
    </script>
<% end %>
